@charset "utf-8";
/* CSS Document */
.resume{height: 735px; background-image: url(../images/resume_bg.jpg);background-repeat: no-repeat;background-size: cover; background-color:rgba(0,0,0,0.3);}
h2{padding: 55px 0;font-size: 20px;color: #fff;}

.resume_info{ padding: 30px;background-color: rgba(225,225,225,0.2);}
.resume_info:after{content: "";height: 0px;clear:both;display: block;}
.resume_info_usual{float: left;width: 370px;padding-right: 30px;}
.resume_info_usual dl{border-bottom: 1px dashed #fff;padding-bottom: 18px;}
.resume_info_usual dt{line-height: 53px;height: 53px;font-size: 1.2em;text-transform:uppercase;color: #fff;}
.resume_info_usual dl:last-child{border-bottom: none;}
.resume_info_usual dd{line-height: 17px;color: #ccc;font-size: 1em;}

.intro{float: left;padding-bottom: 54px;width: 680px;}
.intro img{float: left;border: 8px solid #fff;margin-right: 35px;height: 240px;}
.intro dl{font-size: 1.1em;}
.intro dt{color: #fff;line-height: 24px;font-weight: 400;padding-bottom: 20px;}
.intro dd{color: #ccc;font-size: 1em;font-weight: normal;}

.resume_contact{float: left;}
.resume_contact .link_contact{padding: 10px 50px;background-color: #ff9800;color: #fff;border: none;font-size: 16px;border-radius: 4px;font-weight: 500;}
.resume_contact .link_contact:hover{background-color:#fff;color: #000;transition: all 1.5s;cursor: pointer; }
.resume_contact .follow {color: #fff;margin-top: 30px;font-size: 20px;}
.resume_contact .follow h4{float: left; font-weight: normal; font-size: 18px;text-transform: uppercase;line-height: 28px;}
.resume_contact .follow .contact_icon{float: left;padding-left: 26px;vertical-align: sub;}
.resume_contact .follow a{display: inline-block;width:36px;height: 36px;margin-right: 4px;background: url(../images/icon.png) no-repeat 0px -75px;background-size: 450px 450px;}
.resume_contact .follow a:hover{}
.resume_contact .follow a:hover:nth-child(1){background-position: 0px -113px;}
.resume_contact .follow a:hover:nth-child(2){background-position: -44px -113px;}
.resume_contact .follow a:hover:nth-child(3){background-position: -88px -113px;}
.resume_contact .follow a:hover:nth-child(4){background-position: -134px -113px;}
.resume_contact .follow a:nth-child(2){background-position: -44px -75px;}
.resume_contact .follow a:nth-child(3){background-position: -88px -75px;}
.resume_contact .follow a:nth-child(4){background-position: -134px -75px;}


/*about*/
.about{background-color: #fff;padding: 70px 0;}
.about .inner:after{content: "";display: block;clear: both;}
.about h3{font-size:1.5em;text-transform: uppercase;padding-bottom: 40px;}
.about_container{width: 560px;float: left;padding: 0 15px;}
.about_container h4{line-height: 24px;font-size: 1.1em;}
.about_container p{padding-top: 14px;color: 999;line-height: 1.5em;}

.skills{float: left; width: 510px;padding:0 16px 0 24px;}
.skills_bars {}
.bar_group{margin-bottom: 30px;}
.bar_group p{height: 23px;line-height: 23px;padding-bottom: 7px;}
.bar_group .bar_group_bar{position: relative;}
.bar_group .b_tooltip{position: absolute;left: 0px;top: -24px;}
.bar_group .b_tooltip span{padding: 1px 6px;background-color: #66666e;position: relative;color: #fff;border-radius: 4px;}
.bar_group .b_tooltip span:after{content: ""; position: absolute;bottom: -10px;left: 40%; border: 5px solid transparent;border-top-color:#66666e;}
.bar_group .b_bar{height: 6px;background-color: #e4e4e4;position: relative;border-radius: 4px;}
.bar_group .b_bar .b_bar_before{position: absolute;left: 0;height: 100%;width: 0px;background-color: #ff9800;border-radius: 4px;}


/*project*/
.project{padding: 64px 0;text-align: center;background-color:rgba(0,0,0,.8);}
.project h3{padding-bottom: 60px;color: #FFF;}
.nav_wrap{}
.nav_wrap ul{display: inline-block;color: #ccc;}
.nav_wrap li{float: left;padding: 4px 8px;border: 2px solid #961;border-radius: #ccc;margin:0 5px;font-size: 1.2em;border-radius: 8px;transition:color 1s,background-color 1s;cursor: pointer;}
.nav_wrap li:hover{background-color: #ff9800; border-color: #ff9800;color: #fff;}
.project_tabs:after{content: "";display: block;clear: both;}
.project_tab{width: 331px;height: 220px;float: left;margin: 32px 15px 0;overflow: hidden;transition: all .5s;cursor: pointer;position: relative;}
.project_tab.hide{width: 0px;margin-left:0; margin-right: 0;}
.project_tabs .pic{width: 100%;height: 100%;overflow: hidden;}
.project_tabs .pic img{width: 100%;height: 100%;transition: transform .5s;}
.project_tab:hover .pic img{transform: rotate(5deg) scale(1.2);overflow: hidden;}
.project_tab:hover .introduce{display: block;}
.introduce{display: none; position: absolute;top: 0;left: 0; width: 100%;height: 100%; text-align: center;vertical-align:middle; font-size: 1em; background-color: rgba(225,225,225,0.7);}
.introduce p{color: #000;font-size: 1.3em;padding: 20% 20%;}
/*contact*/

.contact h3{font-size: 20px;text-align: center;}
.contact_form:after{content: "";display: block;clear: both;}

.contact_form .form_input_container{width: 49%; float: left;position: relative;margin:2em 0 1em 1em;font-size: 100%;}
.contact_form .form_input_container:nth-child(1),
.contact_form .form_input_container:nth-child(3){margin-left: 0;}
.contact_form .form_input_container input{border: none;border-bottom: 1px solid #ccc;height: 20px;line-height: 20px;padding: .5em 1em;width: 95%;outline: none;}
.contact_form .form_input_container span{position: absolute;top: 5px;left: 14px;color: #ccc;transition: top .5s;}
.contact_form .form_input_container s{display: block; position: relative;bottom: 1px;left: 0;width: 0px;background-color: #000;height: 2px;transition: width .5s;}
.contact_form .form_input_container:nth-child(5){width: 99%;margin-left: 0px;}
.contact_form .form_input_container:nth-child(5) s{bottom: 6px;}
.contact_form .form_input_container textarea{width: 98%;height: 100px;line-height: 20px;padding: .5px 1em;resize:none; border: none;border-bottom: 1px solid #ccc;outline: none;}
.contact_form button{padding: .5em 2.5em;margin-top: 1em;color: #fff;font-weight: bold;font-size: 1.2em;background-color: #FF9800; border: 2px solid transparent;outline: none;cursor: pointer;transition:border 1s, background-color 1s;}
.contact_form button:hover{border-color: #000;background-color: #eee;color: #000;}
.contact_form .form_input_container textarea,
.contact_form .form_input_container input{outline: none;}

.contact_form .form_input_container.ac span{top: -20px;color: #666;}
.contact_form .form_input_container.ac s{width: 100%;}

/*footer*/
.footer{background-color: #000;text-align: center;}
.footer p{color: #fff;font-size: 16px;margin-top: 4em;padding: 1em 0;}









