@charset "utf-8";
/* CSS Document */
* {
	padding:0px;
	margin:0px;
	border:0px;
}
body {
	width:1100px;
	margin:auto;
	background-color:#f9f9f9;
}
/*----------------header样式--------------------*/
.header {
	height:210px;
	overflow:hidden;
}
.header_top {
	height:87px;
}
.logo {
	width:292px;
	float:left;
}
.tel {
	width:259px;
	float:right;
}
.nav {
	height:76px;
}
.nav ul {
	margin-left:33px;}
.nav li {
	width:125px;
	height:40px;
	margin-top:30px;
	margin-left:1px;
	margin-right:1px;
	float:left;
	text-align:center;
	list-style-type:none;
	border-left:1px dotted  #A7A7A7;
	border-right:1px dotted  #A7A7A7;
}
.nav li a {
	text-decoration:none;
	line-height:40px;
	text-align:center;
}
/*-----------------banner样式---------------*/
.banner img {
	heigh:512px;
}
/*------------main-------------*/
.main {
	height:1396px;
}
.main_top {
	margin-top:41px;
}
.main_top h2,.main_bot h2 {
	width:1100px;
	background:url(images/responsive_09.gif) no-repeat;
	text-align:center;
	color:#EC2814;
	font-weight:500;
}
.main_top > p ,.main_bot >p{
	margin:30px 0;
	text-align:center;
	font-size:18px;
	font-family:"微软雅黑";
	color:#CFCFCF;
}
.main_top_bigPic{ height:354px;}
.main_top_bigPic_l{margin-right:20px;}
.main_top_smallPic{ height:299px; margin-top:30px;}
.smallPic2{ margin:0 20px;}
.smallPic3{ margin-right:20px;}
.main_bot {height:500px; margin-top:22px;}
.news1{ width:540px; height:165px; background:#f0f0f0; padding:20px;}
.news1 p{ line-height:35px; font-size:16px;}
/*------------footer样式-------------*/
.footer {
	height:242px;}